@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "DM Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@utility scroll-progress-provider {
  animation: header-scroll-progress linear both;
  animation-timeline: scroll(root block);
  animation-range: 0px 100000px;
}

@layer utilities {
  :root {
    color-scheme: light dark;
    font-family: Inter, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
    }
  }

  @property --scroll-progress-root {
    syntax: "<number>";
    inherits: false;
    initial-value: 0;
  }

  @keyframes header-scroll-progress {
    0% {
      --scroll-progress-root: 0;
    }
    100% {
      --scroll-progress-root: 100000;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(content-view) {
  animation: 50ms ease-out both fade-out;
}
::view-transition-new(content-view) {
  animation: 150ms ease-out both fade-in;
}

@keyframes slide-title-from-bottom {
  from {
    transform: translateY(40px);
  }
}
@keyframes slide-title-to-top {
  to {
    transform: translateY(-13px);
  }
}

::view-transition-old(.herotitle):only-child,
::view-transition-old(.article-title):only-child {
  animation: 110ms ease-in-out both fade-out,
    160ms cubic-bezier(0.4, 0, 0.2, 1) both slide-title-to-top;
}
::view-transition-new(.herotitle):only-child,
::view-transition-new(.article-title):only-child {
  animation: 400ms ease-in-out 40ms both fade-in,
    400ms cubic-bezier(0.02, 0.02, 0.24, 1) 40ms both slide-title-from-bottom;
}

::view-transition-old(.herotitle) {
  height: 100%;
}
::view-transition-new(.herotitle) {
  height: 100%;
}

::view-transition-old(header) {
  height: 100%;
  /* z-index: 1000; */
}
::view-transition-new(header) {
  height: 100%;
  /* z-index: 1000; */
}

::view-transition-old(header-logo) {
  display: none;
  box-sizing: border-box;
}
::view-transition-new(header-logo) {
  animation: none;
  box-sizing: border-box;
}

::view-transition-old(header-pattern) {
  /* display: none; */
  /* border: 1px solid cyan; */
}
::view-transition-new(header-pattern) {
  opacity: 1;
  z-index: 1000;
  /* border: 1px solid red; */
}

/* @keyframes zoom-expand-blog-title {
  from { transform: scale(0.9); }
}

::view-transition-new(blog-article-title) {
  transform-origin: top left;
  animation: 300ms ease-in-out both zoom-expand-blog-title;
} */

:root {
  --palette-white: #ffffff;
  --palette-black: #000000;
  --palette-dark-grey: #131316;
  --palette-dark-grey-rgb: 19, 19, 22;
  --palette-medium-grey: #8c8c8b;
  --palette-light-grey: #ededec;
  --palette-light-grey-rgb: 237, 237, 236;
  --palette-purple: #7160b7;
  --palette-sunburst-grey: #cfcfcc;
  --palette-moonburst-grey: #a4afb9;
  --palette-fonts-title: InterVariable, Inter;
  --palette-fonts-caps: InterVariable, Inter;
  --palette-fonts-text: InterVariable, Inter;
  --palette-fonts-code: var(--font-FiraCode);

  /* TODO: Should use palette from Kay */
  --palette-code-background: #14161a;
  --palette-code-comment: #455074;
  --palette-code-text: #8499b4;
  --palette-code-pink: #ff4598;
  --palette-code-purple: #7e7fff;
  --palette-code-blue: #3db7ff;
  --palette-code-cyan: #00fafb;
  --palette-code-yellow: #ffd900;

  --palette-light-link-normal: #756b9a;
  --palette-light-link-hover: #5a85bd;
  --palette-light-link-active: #5a85bd;

  --palette-dark-link-normal: #8788c3;
  --palette-dark-link-hover: #98cce6;
  --palette-dark-link-active: #98cce6;

  @media (prefers-color-scheme: light) {
    --palette-text-color: var(--palette-black);
    --palette-text-color-light: var(--palette-dark-grey);
  }
  @media (prefers-color-scheme: dark) {
    --palette-text-color: var(--palette-white);
    --palette-text-color-light: var(--palette-light-grey);
  }

  /* Mermaid */
  @media (prefers-color-scheme: light) {
    --palette-mermaid-line-color: #606c72;
    --palette-mermaid-flowchart-node-border-color: #40464b;
    --palette-mermaid-flowchart-cluster-background-color: rgba(
      255,
      247,
      175,
      0.527
    );
    --palette-mermaid-flowchart-cluster-border-color: rgba(209, 193, 45, 0.651);
    --palette-mermaid-flowchart-cluster-label-color: #968e3f;
    --palette-mermaid-flowchart-edge-label-background-color: rgba(
      236,
      236,
      236,
      0.9
    );
    --palette-mermaid-flowchart-edge-label-color: #7d838a;
  }

  @media (prefers-color-scheme: dark) {
    --palette-mermaid-line-color: #a7b6be;
    --palette-mermaid-flowchart-node-border-color: #515a61;
    --palette-mermaid-flowchart-cluster-background-color: rgba(
      153,
      146,
      86,
      0.493
    );
    --palette-mermaid-flowchart-cluster-border-color: rgba(202, 184, 17, 0.651);
    --palette-mermaid-flowchart-cluster-label-color: #f5efaf;
    --palette-mermaid-flowchart-edge-label-background-color: rgba(
      32,
      32,
      32,
      0.9
    );
    --palette-mermaid-flowchart-edge-label-color: #bcc9ce;
  }
}

html {
  @media print {
    font-size: 8.5pt;
  }
  @media screen {
    font-size: 13px;
  }

  /* Make Scrollbar not change viewport */
  scrollbar-gutter: stable;
}

body {
  font-family: var(--palette-fonts-text);

  a {
    text-decoration: none;
  }

  @media print {
    margin: 0;
    background-color: white;
    color: black;
    a {
      color: black;
    }
  }

  @media screen {
    @media (prefers-color-scheme: light) {
      /* Should redefine palette here too */
      color: var(--palette-dark-grey);

      a {
        color: var(--palette-light-link-normal);
        &:hover {
          color: var(--palette-light-link-hover);
        }
        &:active {
          color: var(--palette-light-link-active);
        }
      }
    }

    @media (prefers-color-scheme: dark) {
      /* Should redefine palette here too */
      color: var(--palette-light-grey);

      a {
        color: var(--palette-dark-link-normal);
        &:hover {
          color: var(--palette-dark-link-hover);
        }
        &:active {
          color: var(--palette-dark-link-active);
        }
      }
    }
  }
}
