.logo {
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;

  transition: transform ease-in-out 0.2s;
  &:hover {
    transform: scale(1.06);
  }
  &:active {
    transform: scale(0.9);
  }

  &:focus {
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    outline: none;
  }
}
